<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Electro.</title>

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- PROPIOS -->
  <link rel="stylesheet" href="./css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/general.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/product.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="./css/style_index.css">
</head>

<body>

  <header id="_vue-header">
    <div class="_contacto">
      <div class="_text-zone">
        <span class="_text-izq">
          <span>
            <i class="fas fa-phone-alt"></i>
            <a href="#">11-6215-8673</a>
          </span>
          <span>
            <i class="far fa-envelope"></i>
            <a href="#">codo-a-codo@email.com</a>
          </span>
          <span>
            <i class="fas fa-map-marker-alt"></i>
            <a href="#">Calle Falsa 123</a>
          </span>
        </span>

        <span class="_text-der">
          <span>
            <i class="fas fa-dollar-sign"></i>
            <a href="#">ARS</a>
          </span>
          <span>
            <i class="far fa-user"></i>
            <a href="#">Mi cuenta</a>
          </span>
          <span>
            <a href="./modificar-cliente.html">Mod Cliente</a>
          </span>
        </span>
      </div>
    </div>
    <!-- BUSQUEDA -->
    <div class="_busqueda">

      <div class="_text-zone">

        <!-- LOGO -->
        <img src="./img/logo.png" alt="Codo a Codo">
        <!-- BARRA DE BUSQUEDA -->
        <span class="_search-container">

          <select class="fs-14" name="categoria" id="categoria">
            <option value="todas">Categorias</option>
            <option v-bind:value="categoria.nombre" v-for="categoria in datos.categorias">{{categoria.nombre}}</option>
          </select>

          <input class="fs-14" type="text" placeholder="Buscar productos">

          <button class="fs-14">Buscar</button>

        </span>
        <!-- LOS BOTONCITOS DE LA DERECHA -->
        <span>
          <a href="./deseados.html" class="_derrecha">
            <div class="_block-nidea">
              <v-flex v-if="datos.cliente.deseados?.length > 0" class="_cant">
                {{datos.cliente.deseados.length}}
              </v-flex>
              <i class="far fa-heart"></i>
              <span class="fs-12">Deseados</span>
            </div>
          </a>
          <a href="./checkout.html" class="_derrecha">
            <div class="_block-nidea">
              <!-- El signo de pregunta en datos.cliente.carrito?.length quiere decir "si existe", o algo así -->
              <v-flex v-if="datos.cliente.carrito?.length > 0" class="_cant">
                {{datos.cliente.carrito.length}}
              </v-flex>
              <i class="fas fa-shopping-cart"></i>
              <span class="fs-12">Carrito</span>
            </div>
          </a>
        </span>
      </div>

    </div>

    <!-- NAVEGACION -->
    <div class="_navegacion">
      <nav>
        <a href="#">Inicio</a>
        <!-- <a href="#">Mejores ofertas</a> -->
        <a href="#" v-for="categoria in datos.categorias">{{categoria.nombre}}</a>
      </nav>

    </div>

  </header>

  <main id="_vue-main">


    <!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">

          <!-- PREFERIBLE FETCH DE PRODUCTO -->
          <!-- shop -->
          <div class="col-md-4 col-xs-6">
            <div class="shop">
              <div class="shop-img">
                <img src="./img/shop01.png" alt="">
              </div>
              <div class="shop-body">
                <h3>Colección<br>Laptops</h3>
                <a href="#" class="cta-btn">Compra ahora <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- /shop -->

          <!-- shop -->
          <div class="col-md-4 col-xs-6">
            <div class="shop">
              <div class="shop-img">
                <img src="./img/shop03.png" alt="">
              </div>
              <div class="shop-body">
                <h3>Colección<br>Auriculares</h3>
                <a href="#" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- /shop -->

          <!-- shop -->
          <div class="col-md-4 col-xs-6">
            <div class="shop">
              <div class="shop-img">
                <img src="./img/shop02.png" alt="">
              </div>
              <div class="shop-body">
                <h3>Colección<br>Cámaras</h3>
                <a href="#" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- /shop -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->

    <div>
      <div class="section section-product">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">

            <!-- section title -->

            <!-- PREFERIBLE FETCH SUBTIPO -->
            <div class="col-md-12">
              <div class="section-title">
                <h3 class="title">Productos Nuevos</h3>
                <div class="section-nav">
                  <ul class="section-tab-nav tab-nav">
                    <div class="_navegacion">
                      <nav id="_js-categorias">
                        <button v-for="categoria in datos.categorias" class="btn btn-outline-secondary"
                          v-on:click="datos.mostrarCategoria(categoria.id)">{{categoria.nombre}}</button>
                        <a href="./categorias.html" class="btn btn-outline-dark" >Mod. Categorías</a>
                        
                      </nav>

                    </div>

                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- /section title -->

          <!-- Products tab & slick -->
          <div class="col-md-12">
            <div class="row">
              <div>
                <!-- tab -->
                <div id="tab1" class="tab-pane active">
                  <div data-nav="#slick-nav-1">
                    <!-- PREFERIBLE V-FOR DE LOS PRODUCTOS EN VEZ DE REPETIR -->
                    <!-- product -->
                    <div id="producto">
                      <div v-for="producto in datos.productos" v-if="producto.id>10" class="product" v-bind:id="producto.categoriaModel.id">
                        <div class="product-img">
                          <img :src="producto.fotoProducto" :alt="producto.nombreProducto">
                          <div class="product-label">
                            <span v-if="producto.descuento>0" class="sale">{{producto.descuento}}%</span>
                            <span class="new">NUEVO</span>
                          </div>
                        </div>
                        <div class="product-body">
                          <p class="product-category">{{producto.categoriaModel.nombre}}</p>
                          <h3 class="product-name"><a href="#">{{producto.nombreProducto}}</a></h3>
                          <h4 class="product-price">
                            ${{Math.round(producto.precio-(producto.descuento*producto.precio/100))-1}} <del
                              class="product-old-price">${{producto.precio}}</del></h4>
                          <!-- <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div> -->
                          <!-- <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">agregar
                                a deseados</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">agregar
                                para comparar</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">vista
                                rápida</span></button>

                          </div> -->
                          <div>
                            <a v-bind:href="'./modificar-producto.html?' + producto.id"
                              class="btn btn-outline-dark">Modificar</a>
                            <button v-on:click="datos.eliminarProducto(producto.id)" class="btn btn-outline-dark">Eliminar</button>
                          </div>
                        </div>
                        <div class="add-to-cart">
                          <a :href="'./product.html?'+producto.id" class="add-to-cart-btn">Detalles</a>
                        </div>
                      </div>
                    </div>

                    <div>
                      <a href="./agregar-producto.html" class="btn btn-outline-dark btn-añadir-producto">Añadir Producto</a>
                    </div>

                    <!-- /product -->


                  </div>
                  <div id="slick-nav-1" class="products-slick-nav"></div>
                </div>
                <!-- /tab -->
              </div>
            </div>
          </div>
          <!-- Products tab & slick -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
      <!-- HOT DEAL SECTION -->
      <div id="hot-deal" class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="hot-deal">
                <ul class="hot-deal-countdown">
                  <li>
                    <div>
                      <h3>02</h3>
                      <span>Días</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h3>10</h3>
                      <span>Horas</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h3>34</h3>
                      <span>Minutos</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h3>60</h3>
                      <span>Segundos</span>
                    </div>
                  </li>
                </ul>
                <h2 class="text-uppercase">Mejores ofertas de ésta semana</h2>
                <p>Nueva colección hasta 50% de descuento</p>
                <a class="primary-btn cta-btn" href="#">Comprar ahora</a>
              </div>
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /HOT DEAL SECTION -->
    </div>


  </main>

  <footer id="_vue-footer">
    <!-- Me olvidé de comentarlo xDD -->
    <div class="_newsletter">
      <p>Suscribete para recibir <span>ofertas especiales</span></p>

      <div class="_input-container">
        <i class="far fa-envelope"></i>
        <input type="text" id="" placeholder="Ingrese su email">
        <button>Suscribirse</button>
      </div>

      <div class="_botones">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
      </div>
    </div>

    <div class="_footer-mid">
      <div class="_div-exterior">
        <div class="_div-medio">
          <div class="_div-interior">
            <p>Sobre nosotros</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Calle Falsa 123</a>
            <a href="#"><i class="fas fa-phone-alt"></i>11-6215-8673</a>
            <a href="#"><i class="far fa-envelope"></i>codo-a-codo@email.com</a>
          </div>
          <div class="_div-interior">
            <p>Categorias</p>
            <a href="#" v-for="categoria in datos.categorias">{{categoria.nombre}}</a>
          </div>
        </div>
        <div class="_div-medio">
          <div class="_div-interior">
            <p>Informacion</p>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Politica de Privacidad</a>
            <a href="#">Pedidos y Devoluciones</a>
            <a href="#">Terminos y Condiciones</a>
          </div>
          <div class="_div-interior">
            <p>Servicio</p>
            <a href="#">Mi cuenta</a>
            <a href="#">Ver carrito</a>
            <a href="#">Lista de Deseados</a>
            <a href="#">Seguimiento de mi pedido</a>
            <a href="#">Ayuda</a>
          </div>
        </div>
      </div>

    </div>

    <div class="_footer-deep">

      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-paypal"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-discover"></i>
      <i class="fab fa-cc-amex"></i>
      <i class="fab fa-cc-jcb"></i>

    </div>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="./js/index-admin.js"></script>
</body>

</html>