
._newsletter{
    border-top: 2px solid #E4E7ED;
    border-bottom: 3px solid #D10024;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

._newsletter p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

._newsletter p span{
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

._newsletter ._input-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    width: 100%;
    margin-bottom: 30px;
}

._newsletter input[type="text"]{
    display: inline;
    width: calc(100% - 165px);
    margin-right: -4px;
    border-radius: 40px 0px 0px 40px;
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #E4E7ED;
    background-color: #FFF;
    white-space: nowrap;
}

._newsletter button{
    position: relative;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    height: 40px;
    font-weight: 700;
    background: #D10024;
    color: #FFF;
    border: none;
    border-radius: 0px 40px 40px 0px;
}

._newsletter .far{
    transform: rotate(15deg);
    z-index: -10;
    font-size: 180px;
    position:absolute;
    color: #e4e7ed;
    top: -60px;
    left: -120px;
}
._newsletter ._botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

._newsletter ._botones a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #E4E7ED;
}

._footer-mid{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #15161D;
    color: #B9BABC;
}

._footer-mid ._div-exterior{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

._footer-mid ._div-medio{
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

._footer-mid ._div-interior{
    width: 220px;
    /* min-width: 250px; */
}

._footer-mid ._div-interior p{
    font-size: 14px;
}

._footer-mid ._div-interior p:first-child{
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px 0px 30px;
    font-weight: 700;
}

._footer-mid ._div-interior a{
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #B9BABC;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

._footer-mid ._div-interior a .fas,
._footer-mid ._div-interior a .far{
    color: #D10024;
    margin-left: 5px;
    margin-right: 15px;
}

._footer-deep{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #1E1F29;
    color: #B9BABC;
    text-align: center;
}

._footer-deep .fab{
    color: #15161D;
    font-size: 36px;
}

