
* {
	box-sizing: border-box;
	/* border: 1px solid red; */
}
body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}

/* td, th{
    border: 1px solid red;
} */