.fab,
.fas {
	color: #333;
	margin-left: 4px;
	margin-right: 4px;
}

header{
    overflow: hidden;
}

._text-zone {
    width: 100%;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

._contacto {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #1e1f29;
}

._contacto span {
	margin: 0 10px;
	display: inline-block;
}

._contacto .fas,
._contacto .far {
	color: #d10024;
}

._contacto a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	font-weight: 500;
}

._busqueda {
	background-color: #15161d;
	padding-bottom: 15px;
	padding-top: 15px;
	color: #fff;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

._busqueda ._derrecha{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 20px 0 0;
}

._busqueda .fas,
._busqueda .far {
	color: #fff;
}

._busqueda img {
	width: 160px;
    object-fit: contain;
    margin-left: 20px;
}

._busqueda ._block-nidea {
	position: relative;
    height: 45px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

._busqueda ._cant {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	font-size: 10px;
	background-color: #d10024;
    right: 10px;
    top: -5px;
}

._busqueda ._search-container{
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

._busqueda select{
    height: 40px;
    width: 120px;
    border-radius: 40px 0px 0px 40px;
    border: 1px solid #E4E7ED;
    color: #333;
    padding-left: 15px;
}

._busqueda input[type="text"]{
    height: 40px;
    width: 270px;
    border: 1px solid #E4E7ED;
    padding-left: 15px;
}

._busqueda button{
    height: 40px;
    width: 90px;
    font-weight: 700;
    color: #FFF;
    border: none;
    border-radius: 0px 40px 40px 0px;
    background: #D10024;
}

._navegacion {
    border-top: 3px solid #D10024;
    border-bottom: 2px solid #E4E7ED;
    background: #FFF;
}

._navegacion nav{
    padding: 20px;
    width: 100%;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

._navegacion a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    color: #2B2D42;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {

    ._text-zone {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    ._busqueda ._block-nidea {
        margin-top: 20px;
        /* height: 48px; */
    }

    ._busqueda ._cant {
        right: 10px;
        top: -10px;
    }

}
@media screen and (max-width: 600px) {

    ._busqueda select{
        width: 105px;
        padding-left: 5px;
    }

    ._busqueda input[type="text"]{

        width: 140px;
        padding-left: 5px;
    }

    ._busqueda button{
        width: 70px;
    }

}