body{
    background: #15161D;
}

.container{
    max-width: 500px;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form-label{
    color: #fff;
    text-transform: capitalize;
}

._registrar{
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
}

._registrar a{
    color: #fff;
}

.btn{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}