body{
    background: #15161D;
}

.container{
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._titulo{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.form-label{
    color: #fff;
    text-transform: capitalize;
}

._registrar{
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
}

._registrar a{
    color: #fff;
}

.btn{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

._bloque-10{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

._bloque-5{
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
}

p{
    text-align: center;
}